<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/spot.css') }}">
    <title>
        {% block title %}
        {% endblock %}
      </title>
</head>
  <header>
    <div class="hero">
      <div class="navbar">
          <a href="{{ url_for('home_page') }}">
              <h1>THE VINYL STORE</h1>
          </a>
      </div>
        <ul class="location" id="main-nav">
                <li class="location2"><a class="navEffect navEffect2 navEffect3" href="{{ url_for('search_artist') }}">SEARCH ARTIST</a></li>
                <li class="location2"><a class="navEffect navEffect2 navEffect3" href="{{ url_for('index') }}">SEARCH ALBUM</a></li>
                <li class="location2"><a class="navEffect navEffect2 navEffect3" href="{{ url_for('try_playlist') }}">TRY A PLAYLIST</a></li>
            </ul>
    </div>
  </header>
<body id="background">
    {% block content %}
    {% endblock %}
</body>
<div>
    <footer class="foot border-top">
        <p>DEVELOPED BY KUDZAYI BAMHARE 2022</p>
    </footer>
</div>
</html>