#background {
	background-color: #191414;
}

p {
	color: #1DB954;
	font-family: Courier;
}

ul {
	color: #1DB954;
	font-family: Courier;
}

li {
    font-family: Courier;
}

#profile {
	width: 40%;
	height: 10%;
}


.images {
	width: 200px;
	height: 200px;
	border-radius: 50%;
}

#screenshot {
  width: 30%;
  max-width: 100%;
  height: auto;
}

.hero {
  width: 80;
  margin: auto;
  background-color: yellow;
}

body {
  min-height: 100vh;
}

.left {
  color: black;
  font-family: Courier New;
  justify-content: center;
  font-size: 20px;
  width: 40%;
  float: left;
  height: auto;
  padding-left: 10px;
}

.right {
  color: black;
  font-family: Courier New;
  justify-content: center;
  font-size: 20px;
  width: 40%;
  float: right;
  height: auto;
  padding-right: 50px;
}


h1 {
  font-family: Courier;
  color: #1DB954;
  text-decoration: !important;
}

.heading-text {
    text-align: center;
}

h2 {
  font-size: 20px;
  color: yellow;
  font-family: Courier;
}

#player {
 width: 50%;
}


a {
  text-decoration: none;
}

.navbar {
  margin: 30px;
  display: flex;
  align-items: center;
  font-size: 20px;
}

.location {
  flex: 1;
  text-align: right;
}

.location2 {
  display: inline-block;
  list-style: none;
  margin: 0 25px;
}

.navEffect {
  text-decoration: none;
  color: black;
  padding: 0 10px;
  position: relative;
  font-family: Courier New;
  font-size: 30px;
}

.banner {
  display: flex;
  margin-top: 40px;
}

.left-col, .right-col {
  flex-basis: 50%;
}


.right-col img {
	padding-left: 80px;
  	padding-bottom: 0px;
  	padding-top: 30px;
}

.left-col h2 {
  font-size: 50px;
}

.left-col p {
  font-size: 50px;
}


.foot {
  background-color: white;
  font-family: Courier New;
  padding-top: 20px;
  padding-bottom: 50px;
  margin-top: 300px;
  width: 100%;
  height: auto;
  color: black;
  text-align: center;
}

.foot2 {
  display: block;
}

.border-top {
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #ADD8E6;
}

 {
  box-sizing: border-box;
}

.column-box {
  float: left;
  width: 25%;
}

.column-small {
  float: left;
  width: 20%;
}

/* Clearfix (clear floats) */
.row {
  width: 100%;
}

.popular {
  display: block;
  max-width: 100%;
}

@media screen and (min-width: 600px){
  .container img {
  width: 100%;
  height: auto;
}


.foot {
  background-color: black;
  font-family: Courier New;
  padding-top: 20px;
  padding-bottom: 50px;
  margin-top: 300px;
  width: 100%;
  height: auto;
  color: black;
  text-align: center;
}

.border-top {
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #1DB954;
}